body{
    background-color: #7ed0f2;
}

.container{
    font: normal 100%/1.15 "Merriweather", serif;
    color: #fff;

}

.box {
  max-width: 70%;
  min-height: auto;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
  background: url("../img/flame.png") no-repeat top 10em center/128px 128px,
              transparent url("../img/desktop-pc.png") no-repeat top 13em center/128px 128px;
}

.box h1, .box p:not(:last-of-type) { text-shadow: 0 0 6px #216f79; }

.box h1 {
  margin: 0 0 1rem 0;
  font-size: 8em;
}

.box p {
  margin-bottom: 0.5em;
  font-size: 3em;
}

.box p:first-of-type { margin-top: 4em; }

.box p > a {
  border-bottom: 1px dashed #216f79;
  font-style: italic;
  text-decoration: none;
  color: #216f79;
}

.box p > a:hover { text-shadow: 0 0 6px #216f79; }

.box p img { vertical-align: bottom; }