.card .card-image img{
    height: 20vw
}

nav .brand-logo img {
    height: 1em;
}

.collection-item > .material-icons{
    font-size: inherit;
}

.card-alert a{
    color: inherit;
    font-weight: 500;
}

.card-alert .card-content{
    padding:15px;
}

.card-alert a:hover{
    color: inherit;
    text-decoration: underline;
}